body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
    margin-top: 60px;
    color: #fff;
    text-shadow: 2px 2px 0px rgba(255, 255, 255,.7), 5 px 7px 0px rgba(0, 0, 0, 0.1);
}

#container{

    width: 50%;
    margin: auto;
}

button.accordion{
    background-color: #eee;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    background: #1abc9c;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

button.accordion.active, button.accordion:hover{
    background: tomato;
}

button.accordion:after{
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after{
    content: "\2212";
}

.painel{

    padding:  0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2 ease-out;

}





















