{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Gerenciador de vestibulares</h1>
    <p class="lead">Gerencie seus vestibulares.</p>
    <!--<p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cadastro de cursos</h2>
        <p>
            Cadastre os cursos que poderão participar dos seus vestibulares.
        </p>
        <p><a class="btn btn-default" href="{% url 'cadastro_cursos' %}">Acessar &raquo;</a></p>
        
    </div>
    
    
<div class="header-content">
    <div class="EfeitoDestaque">
        <h2>Young University</h2>
        <p>A Young University é uma das faculdades de tecnologia mais recomendada pelo o  MEC com nota 5, 
           altamente requisitada pelas empresas.<br /> 
           venha ter um emprego garantido se formando agora mesmo em nossa Universidade.</p>
        <p>Veja logo abaixo depoimentos de ex alunos e em seguida alguns de nossos cursos.</p>
    </div>
</div>



<!-- Fim parte Laranja-->

<!-- Conteudo com as fotos-->

<div class="container section">
    <div class="row">
        <div class="col-md-6">
            <h3>
                Matheus - Full-Stack
            </h3>
            <p>
                Terminei o ensino medio sem saber muito bem o que eu queria ser, até que eu passei em frente da 
                Young University e peguei um folder, que falava sobre ela e seus cursos, 
                de cara me interessei por <a href="ADS">Analise e de desenvolvimentos de sistemas</a>.<br />
                Durante o curso me apaixonei cada vez mais pelo o desenvolvimento WEB e nessa hora 
                que doscobri que essa seria minha profissão.<br />
                Atualmente estou trabalhando como Full-Stack na Godo.au, uma das maiores empresas da Oceania.  
            </p>
        </div>
        <div class="col-md-6">
            <img src="https://preview.ibb.co/erdq8p/Employee-1.jpg" alt=""/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="https://preview.ibb.co/cu76g9/Employee-2.jpg" alt=""/>
        </div>
        <div class="col-md-6">
            <h3>
                Ronaldo - Gerente DBA
            </h3>
            <p>
               Quando eu era criança eu ficava vendo meu trabalhar com banco de dados e eu achava algo muito legal, quando terminei o ensino medio o meu pai falou sobre a Young, ao pesquisar sobre ela vi que falam muito bem dela e que essa seria uma boa opção, então logo meu cadastrei em <a href="BancoDeDados">Banco de dados</a>. <br />Dei a sorte de conseguir um estagio logo no primeiro semestre em uma otima empresa e crescer dentro dela. Atualmente eu continuo trablahando nela, agora como Gernte DBA.
            </p>
        </div>
    </div>
</div>


<!-- .//container -->
    <div class="col-md-4">
        <h2>Criação de vestibulares</h2>
        <p>Crie os vestibulares que o sistema irá gerenciar.</p>
        <!-- <p><a class="btn btn-default" href=" url 'criacao_vestibulares' ">Acessar &raquo;</a></p> -->
        
        <div class="accordions"> 
          <div class="accordion-item">
              <input type="radio" name="accordion" checked="checked" id="accordion-1" />
              <label for= "accordion-1">Analise e Desenvolvimento de Sistemas</label>
              <div class="accordion-content">Click <a href="#"> aqui </a> para criar</div>
          </div>
 
          <div class="accordion-item">
              <input type="radio" name="accordion" id="accordion-2" />
              <label for= "accordion-2">Adminitração</label>
              <div class="accordion-content">Click <a href="#"> aqui </a> para criar</div>
          </div>
 
          
      </div>
    </div>
    <div class="col-md-4">
        <h2>Inscrição de candidatos</h2>
        <p>Inscreva candidatos nos vestibulares e consulte as inscrições em cada curso.</p>
        <!-- <p><a class="btn btn-default" href=" url 'inscricao_vestibulares' ">Acessar &raquo;</a></p> -->
        <p><a class="btn btn-default">Em construção &raquo;</a></p>
    </div>
</div>

{% endblock %}
